# Copyright (c) 2024 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config VND_DBG_MMR
	bool "[0xFC01] DBG Read Memory."
	default y

config VND_DBG_MMW
	bool "[0xFC02] DBG Write Memory."
	default y

config VND_BLE_REGR
	bool "[0xFC30] BLE Register Read."
	default y

config VND_BLE_REGW
	bool "[0xFC31] BLE Register Write."
	default y

config VND_EN_TXCW
	bool "[0xF802] Tx CW mode control - Enable TX CW mode on specific BLE RF Channel(0~39), RF Channel 255 is used to disable Tx CW mode."
	default y

config VND_CAP
	bool "[0xF803] 16MXtal cap. control - set cap. value."
	default y

config VND_SYS_MMR
	bool "[0xF804] Memory read - read system memory value by address."
	default y

config VND_PV_TEST
	bool "[0xF80C] PV Test"
	default y

config VND_VND_PSM
	bool "[0xF80F] PSM - set power save mode."
	default n

config VND_GADC
	bool "[0xF80B] GADC - set gadc value."
	default n

config VND_IO_CTRL
	bool "[0xF80A] IO Control - set io pin."
	default n

config VND_TAG_RD
	bool "[0xF805] Read Flash NVDS Tag - read tag value."
	default n

config VND_SET_BDDR
	bool "[0xF806] Set Public BD Address."
	default n

config VND_MALLOC
	bool "[0xF809] Memory Allocate - Allocate n bytes memory (little endian)."
	default n

config VND_PMU_RADIO_REGR
	bool "[0xFC33] PMU Radio Register Read."
	default n

config VND_COREMARK
	bool "[0xF810] coremark - get coremark score multiplied by 100."
	default n

config VND_WFI
	bool "[0xF811] wfi - do wfi to be used for power measure tests."
	default n

config VND_NO_CLOCK
	bool "[0xF812] no_clock - turn off mpc clock to be used for power measure tests."
	default n

config VND_WHILE_ONE
	bool "[0xF813] while_one - do while_one to be used for power measure tests"
	default n

config ATM_LOG_DEFAULT_LEVEL
	int "atm vendor logging level"
	depends on LOG
	default LOG_DEFAULT_LEVEL

config RUNTIME_EN_HCI_VENDOR
	bool "Runtime Enable HCI vendor"
	default n

config ATM_VENDOR_TX_STACK_SIZE
	int "ATM hci uart tx thread stack size"
	default 400

config ATM_VENDOR_RX_STACK_SIZE
	int "ATM hci uart rx thread stack size"
	default 800
