# Copyright (c) 2024 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config AT_CMD
	bool "AT command support"
	default n

config ATM_ASM
	bool "BLE state machine library"
	default n

config ATM_VENDOR
	bool "ATM Vendor command library"
        depends on BT_HCI_RAW && BT_HCI_RAW_H4 && BT_HCI_RAW_H4_ENABLE && BT_HCI_RAW_CMD_EXT
	default n

if ATM_ASM

rsource "atm_asm/Kconfig"

endif

if ATM_VENDOR

rsource "atm_vendor/Kconfig"

endif
