# Copyright (c) 2024 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config GEN_PARTITION_INFO
	bool "Generate partition info"
	default y

config GEN_PARTITION_INFO_SCRIPT
	string "Generate partition info script path"
	default "${ZEPHYR_BASE}/../modules/hal/atmosic/tools/scripts/gen_atm_partition_info.py"
